.TabMenu-container {
  text-align: left;
}

.TabMenu-tabs {
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  padding: 15px 40px;
  border: solid;
  border-color: black;
  border-width: 1px;
  text-decoration: none;
  font: 30px;
}

.TabMenu-tabs.selected {
  background-color: rgb(53, 201, 241)
}

.TabMenu-tabs.unselected {
  background-color: powderblue
}
