.TabMenu-container {
  text-align: left;
}

.TabMenu-tabs {
  display: inline-flex;
  flex-direction: row;
  padding-right: 5px;
  padding-left: 5px;
}

.TabMenu-tabs.selected {
  background-color: rgb(53, 201, 241)
}

.TabMenu-tabs.unselected {
  background-color: powderblue
}

